.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
 
}


  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
